page-modal-edit {

    ion-header {
        background-color: #488aff;
    }
    .item-md {
        color: #488aff;
    }
    .item-md [item-end] {
        margin: 9px 8px 9px 65px;
    }
    .input-wrapper{
        margin: 0 0 0 0;
        padding-bottom: -5px;
    }
    
    p.event-location{
        height: 50px;
        white-space: normal;
        padding-bottom: 0px;
    }
    .content-md{
        color: red;
        
    }
    #card-diagnostico {
        font-size: 16px;
    }
    #evolucao{
        font-size: 16px;
        color: red;
        padding-top: -2px;
        padding-left: 10px;
        padding-right: 5px;
        padding-bottom: 10px;
    }

    #header {
        color: #488aff;
    }
    #charts {
        color: #488aff;
        padding-left: 15px;
    }

    #edit {
        padding-top: -15px;
        margin-left: 200px;
        width: 75px;
    }

}
