page-erp {
    ion-header {
        background-color: #488aff;
    }
    #relatorio {
        border-top: 9px solid !important;
        border-bottom: 3px solid !important;
        padding-left: 3px;
    }
    .card-md h4 {
        font-size: 20px;
        font-style: unset;
    }

}
